@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'font1';
    src: url(../public/649d7ca1f5c7aa41f51eb483_satoshi-variable.ttf);
}

/* 
*{
    font-family: 'font1'
} */